In [ ]:
#my stattictics first class 
import os 
print(os.getcwd())

c:\Users\Shuvo\Statictics assignment

In [1]:
import pandas as pd 
df=pd.read_csv('yhtujgu/AirPassengers.csv')

In [2]:
df.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [3]:
df.describe

<bound method NDFrame.describe of        Month  #Passengers
0    1949-01          112
1    1949-02          118
2    1949-03          132
3    1949-04          129
4    1949-05          121
..       ...          ...
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

[144 rows x 2 columns]>

In [ ]:
print(df.to_string())