In [ ]:
#my stattictics first class 
import os 
print(os.getcwd())

c:\Users\Shuvo\Statictics assignment

In [1]:
import pandas as pd 
df=pd.read_csv('yhtujgu/AirPassengers.csv')

In [2]:
df.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [3]:
df.describe

<bound method NDFrame.describe of        Month  #Passengers
0    1949-01          112
1    1949-02          118
2    1949-03          132
3    1949-04          129
4    1949-05          121
..       ...          ...
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

[144 rows x 2 columns]>

In [4]:
print(df.to_string())

       Month  #Passengers
0    1949-01          112
1    1949-02          118
2    1949-03          132
3    1949-04          129
4    1949-05          121
5    1949-06          135
6    1949-07          148
7    1949-08          148
8    1949-09          136
9    1949-10          119
10   1949-11          104
11   1949-12          118
12   1950-01          115
13   1950-02          126
14   1950-03          141
15   1950-04          135
16   1950-05          125
17   1950-06          149
18   1950-07          170
19   1950-08          170
20   1950-09          158
21   1950-10          133
22   1950-11          114
23   1950-12          140
24   1951-01          145
25   1951-02          150
26   1951-03          178
27   1951-04          163
28   1951-05          172
29   1951-06          178
30   1951-07          199
31   1951-08          199
32   1951-09          184
33   1951-10          162
34   1951-11          146
35   1951-12          166
36   1952-01          171
37   1952-02          180
38   1952-03          193
39   1952-04          181
40   1952-05          183
41   1952-06          218
42   1952-07          230
43   1952-08          242
44   1952-09          209
45   1952-10          191
46   1952-11          172
47   1952-12          194
48   1953-01          196
49   1953-02          196
50   1953-03          236
51   1953-04          235
52   1953-05          229
53   1953-06          243
54   1953-07          264
55   1953-08          272
56   1953-09          237
57   1953-10          211
58   1953-11          180
59   1953-12          201
60   1954-01          204
61   1954-02          188
62   1954-03          235
63   1954-04          227
64   1954-05          234
65   1954-06          264
66   1954-07          302
67   1954-08          293
68   1954-09          259
69   1954-10          229
70   1954-11          203
71   1954-12          229
72   1955-01          242
73   1955-02          233
74   1955-03          267
75   1955-04          269
76   1955-05          270
77   1955-06          315
78   1955-07          364
79   1955-08          347
80   1955-09          312
81   1955-10          274
82   1955-11          237
83   1955-12          278
84   1956-01          284
85   1956-02          277
86   1956-03          317
87   1956-04          313
88   1956-05          318
89   1956-06          374
90   1956-07          413
91   1956-08          405
92   1956-09          355
93   1956-10          306
94   1956-11          271
95   1956-12          306
96   1957-01          315
97   1957-02          301
98   1957-03          356
99   1957-04          348
100  1957-05          355
101  1957-06          422
102  1957-07          465
103  1957-08          467
104  1957-09          404
105  1957-10          347
106  1957-11          305
107  1957-12          336
108  1958-01          340
109  1958-02          318
110  1958-03          362
111  1958-04          348
112  1958-05          363
113  1958-06          435
114  1958-07          491
115  1958-08          505
116  1958-09          404
117  1958-10          359
118  1958-11          310
119  1958-12          337
120  1959-01          360
121  1959-02          342
122  1959-03          406
123  1959-04          396
124  1959-05          420
125  1959-06          472
126  1959-07          548
127  1959-08          559
128  1959-09          463
129  1959-10          407
130  1959-11          362
131  1959-12          405
132  1960-01          417
133  1960-02          391
134  1960-03          419
135  1960-04          461
136  1960-05          472
137  1960-06          535
138  1960-07          622
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432